<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groq Llama 3-70B Chatbot</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="h-screen flex flex-col">
    <div class="chat-container flex-1 flex flex-col">
        <div class="chat-header">
            AI Groq Chatbot - Llama 3-70B
        </div>
        <div id="chat-window" class="flex-1">
            <div class="message bot-message">Welcome to the Groq Chatbot! How can I assist you today?</div>
        </div>
        <form id="chat-form" class="flex p-4 bg-white text-black border">
            <input type="text" id="user-input" class="flex-1 p-2 border border-gray-500 rounded-l-lg" placeholder="Type your message here...">
            <button type="submit" id="send-button" class="text-white bg-orange-500 p-2 rounded-r-lg hover:bg-orange-400">Send</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>